aiosqlite==0.20.0
alembic==1.14.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asyncpg==0.31.0
Authlib==1.6.6
bandit==1.9.3
bidict==0.23.1
blinker==1.9.0
boolean.py==5.0
brotli==1.2.0
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
ConfigArgParse==1.7.1
cryptography==46.0.4
cyclonedx-python-lib==11.6.0
defusedxml==0.7.1
dparse==0.6.4
fastapi==0.128.0
filelock==3.20.3
Flask==3.1.2
flask-cors==6.0.2
Flask-Login==0.6.3
gevent==25.9.1
geventhttpclient==2.3.7
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.2
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
license-expression==30.4.4
locust==2.43.1
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==4.2.1
mdurl==0.1.2
msgpack==1.1.2
nltk==3.9.2
packageurl-python==0.17.6
packaging==26.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.5.1
playwright==1.57.0
pluggy==1.6.0
psutil==7.2.2
py-serializable==2.1.0
pycparser==3.0
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pyee==13.0.0
Pygments==2.19.2
pyparsing==3.3.2
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-base-url==2.1.0
pytest-html==4.2.0
pytest-metadata==3.1.1
pytest-playwright==0.7.2
python-dotenv==1.2.1
python-engineio==4.13.0
python-multipart @ file:///G:/download/python_multipart-0.0.22-py3-none-any.whl#sha256=2b2cd894c83d21bf49d702499531c7bafd057d730c201782048f7945d82de155
python-slugify==8.0.4
python-socketio==5.16.0
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
redis==5.2.0
regex==2026.1.15
requests==2.32.5
rich==14.3.1
ruamel.yaml==0.19.1
safety==3.7.0
safety-schemas==0.0.16
shellingham==1.5.4
simple-websocket==1.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.36
starlette==0.50.0
stevedore==5.6.0
tenacity==9.1.2
text-unidecode==1.3
tomli==2.4.0
tomli_w==1.2.0
tomlkit==0.14.0
tqdm==4.67.1
typer==0.21.1
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.32.0
watchfiles==1.1.1
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wsproto==1.3.2
zope.event==6.1
zope.interface==8.2
